.active {
  color: rgb(12, 214, 12) !important;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-behavior: smooth;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(227, 241, 227, 0.5);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(12, 214, 12); /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

/* Style the scrollbar track when hovering over it */
::-webkit-scrollbar-track:hover {
  background-color: rgba(227, 241, 227, 0.5);
}

/* Style the scrollbar thumb when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(5, 171, 5);
}
